
/**
 * Overlay
 */
.views-slideshow-xtra-wrapper {
  z-index: 50;
  position: absolute;
}

.views-slideshow-xtra-row {
  display: none;
  min-height: 10px;
}

.views-slideshow-xtra-field {
  position: absolute;
}